
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&family=Kavivanar&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
    --primaryColor : #1BBCB6;
    --seconderyColor:#252F48 ;
    --treetycolor : #A9C3B8;
  }
  *  { box-sizing: border-box;
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

body {
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
section {
    margin: 10px 0;
    width: 960px;
}

header {
    width: 100%;
    background-color: var(--seconderyColor) ;
}

header div {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    align-items: center;
    color: white;
} 


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
header nav ul li {
    margin-left: 15px; 
    
}
header img {
    width: 100px;
    height: 50px;
}


h1 {

text-align: center;
font-size: 35px;
 
    
}



p {

    text-align: justify;
    padding: 45px;
    font-size: 18px;
    
}

     
section div h4 {

    text-align: right;
}
 section div a{

    align-content:right;
 }
.teamCards a4 {

    margin: right;
  
}

 footer {
    width: 100%;
    background-color: var(--seconderyColor);
 }

footer .footer-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
}

footer a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.img {
    height: 75px;
    width: 75px;
    display: inline-block;
    border-radius: 50%; 
}
 
.teamCards{
    margin: auto;
padding: 10px;
}
.info {
   
    display: inline-block;
    margin-left: 30px;
}
.about
{
    margin-top: 5px;;
      padding-bottom: 10px;
      border-bottom-width:1px;
      border-bottom-style: solid;

}
