@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root {
    --primaryColor : #1BBCB6;
    --seconderyColor:#252F48 ;
    --treetycolor : #A9C3B8;
  }
  *  { box-sizing: border-box;
  }

  body {
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--seconderyColor) ;
}

header div {
.logo_container {
    display: flex;
    align-items: center;
}

.logotext {
    font-family: 'Amarante', cursive;
    font-size: 30px;
    color: white;
}
header .header_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    align-items: center;
    color: white;
} 


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
header nav ul li {
    margin-left: 15px;
    text-decoration: none; 
    
}
header img {
    width: 100px;
    height: 50px;
}
.nava {
    text-decoration: none;
    color: white;
    padding: 10px;
    height: 100%;
    -webkit-filter: brightness(100%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.nava:hover {
  color: var(--primaryColor);

}
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem ;
    width:auto;
    border-radius: 0.5rem;
    align-content: center;
    text-align: center;
}
.modal-content p {
    float: left;
    text-align: center;
}
.modal-content img {
    width : auto;
    height: 400px;
    
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
width: 30%;
height: 40px;
padding: 5px;
margin: 10px;
background-color: var(--primaryColor);
color: black;
font-size: 16px;
align-self: center;

}

section {
    margin: 10px 0;
    width: 100%;
}

.pet_container {
    display: flex;
    justify-content: space-around;
}

.pet_info {
    width: 500px;
}

.pet_info p {
    margin: 20px 0;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pet_info button {
    margin-top: 100px;   
    width: 100px;
    height: 50px;
}

.pet_info button:hover {
    background-color: var(--primaryColor);
}

.pet_container img {
    height: 350px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    animation-name: img;
    animation-duration: 3s;  
    animation-fill-mode: both;
}

@keyframes img {
    from {top: 0px;}
    to {top: 10px;
     background-color: blue;}
  }

  main .adopt-journey {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 20px;
  }

  main .adopt-journey img {
      width: 200px;
      margin-left: 130px;
      }

      main .adopt-journey p:first-of-type {
          margin-left: 50px;
      }

      main .adopt-journey p:last-of-type {
          margin-right: 50px;
      }

      main h4 {
          text-align: center;
          font-size: x-large;
          color: var(--primaryColor);
          font-weight: bold;    
      }

      main h5 {
          text-align: center;
          font-size: x-large;
          color: var(--primaryColor);
          font-weight: bold;
      }

      main h6 {
          text-align: center;
          font-size: x-large;
          color: var(--primaryColor);
          font-weight: bold;
      }

      main hr {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          background-color: var(--primaryColor);
      }

      main h3 {
          font-weight: 900;
          color: plum;
          font-size: x-large;
      }

     main .adopt-journey p {
         font-family: 'open sans',akaya,telivagala;
         font-weight: 800;
         font-style: italic;
     }




.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(211,208,208);
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.form_section h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
    color: var(--primaryColor);
}

form .input-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: black;
    font-weight: 800;
}

.input-container .input-label {
    margin-bottom: 7px;
    font-size: 17px;
}

.input-container input {
    border-radius: 5px;
    height: 30px;
}

section form #submitBtn {
    text-align: center;
    width: 100px;
    height: 50px;
   margin-left: 250px;
}

section form #submitBtn:hover {
    background-color: var(--primaryColor);
}

footer {
    width: 100%;
    background-color: var(--seconderyColor);
 }

footer .footer-container {
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
}

footer a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-youtube:hover {
    background-color: #e64a41;
}

.donate-button button {
    width: 100px;
    height: 50px;
    position: relative;
}