@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
:root {
    --primaryColor : #1BBCB6;
    --seconderyColor:#252F48 ;
    --treetycolor : #A9C3B8;
  }
  *  { box-sizing: border-box;
  }

body {
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--seconderyColor) ;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logotext {
    font-family: 'Amarante', cursive;
    font-size: 30px;
    color: white;
}
header .header_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    align-items: center;
    color: white;
} 


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
header nav ul li {
    margin-left: 15px;
    text-decoration: none; 
    
}
header img {
    width: 100px;
    height: 50px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
section {
    margin: 10px 0;
    width: 100%;
}
.slider img  {
    width: 100%;
    height: 560px;
    object-fit: cover;
}
.intro {
    width: 700px;
    
}
.active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .imageSlider {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    margin-top: -10px;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .nava {
      text-decoration: none;
      color: white;
      padding: 10px;
      height: 100%;
      -webkit-filter: brightness(100%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }

  .nava:hover {
    color: var(--primaryColor);

  }

.intro h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--primaryColor);
  
  text-shadow: 0px 11px 10px rgba(2, 2, 2, 0.171);
  font-family: 'Indie Flower', cursive;
  
}
.dash {
    width: 1100px;
    height: 5px;
    background-color: var(--seconderyColor);
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.intro p {
    font-size: 20px;
    color : var(--seconderyColor);
    text-align: center;
    font-family: cursive;
    margin-bottom: 40px;
}

.statistics {
    background: var(--seconderyColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 960px;
    border-radius: 10px;
    height: 200px;
    text-align: center;
    padding :20px 0px;
    margin:10px ;
}
.statistics :nth-child(2){
    color : (var(--primaryColor));
}
.statistics div {
    background-color: white;
    padding: 30px ;
    border-radius: 10px;
    padding : 20px 60px;
    
    font-size: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 8px 25px 11px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, -1px 8px 25px 11px rgba(0,0,0,0);
}
.statistics div h2 {
    margin-bottom: 10px;
}

section.stories {
    display: flex;
    justify-content: space-around;
     
}
.storiesContainer {
    width: 100%;
}
.stories div {
    width: 300px;
    margin-bottom: 20px;
}

 .stories div img {
     width: 300px;
     height: 300px;
     margin-bottom: 10px;
     -webkit-box-shadow: 10px 7px 16px -4px rgba(0,0,0,0.63); 
     box-shadow: 10px 7px 16px -4px rgba(0,0,0,0.63);
 }
 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: var(--seconderyColor);
    color: white;
    transform: rotateY(180deg);
    padding :10px;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
  }
  .storyh2 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--primaryColor);
    text-shadow: 0px 11px 10px rgba(2, 2, 2, 0.171);
    font-family: 'Indie Flower', cursive;
}



 footer {
     margin-top: 20px;
     margin-bottom: -20px;
    width: 100%;
    background-color: var(--seconderyColor);
 }

footer .footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
}

footer a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-youtube:hover {
    background-color: #e64a41;
}

#text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top : 75%;
    width: 1vr;
    text-align: center;
    font-size : 4vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 15px 15px 0px;
    max-width: 80%;
    max-height: 150px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.26);
    font-family: 'Indie Flower', cursive;
    /* margin-left: 30px;
    margin-right: 30px; */

}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

