@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Dosis:wght@400;700&family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root {
    --primaryColor : #1BBCB6;
    --seconderyColor:#252F48 ;
    --treetycolor : #A9C3B8;
  }
  *  { box-sizing: border-box;
  }

body {
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://cutewallpaper.org/21/dark-smoke-wallpaper/Black-Smoke-Wallpaper-Black-Smoke-Background-Hd-Hd-.jpg");
    
}

header {
    width: 100%;
    background-color: var(--seconderyColor) ;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logotext {
    font-family: 'Amarante', cursive;
    font-size: 30px;
    color: white;
}
header .header_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    align-items: center;
    color: white;
} 


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
header nav ul li {
    margin-left: 15px;
    text-decoration: none; 
    
}
header img {
    width: 100px;
    height: 50px;
}
.nava {
    text-decoration: none;
    color: white;
    padding: 10px;
    height: 100%;
    -webkit-filter: brightness(100%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.nava:hover {
  color: var(--primaryColor);

}
video {
    position:fixed;
    z-index: -1;
    width:100%;     
    height: auto;
    opacity: 0.7;
    

}

.white {
    background-color: rgba(255, 255, 255, 0.521);
    border: 5px solid white;
    width: 60%;
    height: 600px;
    margin: 20px;
    border-radius: 50%;
    padding: 10px;
}
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 25px;
        width:auto;
        border-radius: 0.5rem;
        align-content: center;
        text-align: center;
        text-transform: capitalize;
    }
    .modal-content p {
        float: left;
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .modal-content img {
        width : auto;
        height: 400px;
        border-radius: 00.5rem;
        
        
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

.trigger {
    position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;

}
.trigger:hover {
    background: #109177;
}






.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 24px;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
    font-size: 20px;
	/* margin-bottom: -15px; */
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="tel"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="tel"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
.form-style-5 input[type="reset"],
.form-style-5 input[type="button"],
.leavemessage
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 30%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,
.form-style-5 input[type="reset"]:hover,
.form-style-5 input[type="button"]:hover,
.leavemessage:hover
{
	background: #109177;
}


.formForDonation {
    margin: auto;
    width: 50%;
}
.h1donation {
    font-size: 45px;
    text-align: center;
    color : var(--primaryColor);
    text-shadow: 2px 2px var(--seconderyColor);
    margin-top: 30px;
    margin-bottom: 30px;
    }
.h2donation {
    font-size: 30px;
    color: var(--seconderyColor);
    /* text-shadow: 2px 2px var(--primaryColor); */
    text-align: center;
    margin-bottom: 20px;
}
.donation1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
}
.donation1 p {
    width: 70%;
    margin: auto;
}
#userDonationInput {
    /* background-color: #A9C3B8; */
    padding: 30px;
    /* border: 6px double var(--seconderyColor); */
    box-shadow: rgba(0, 0, 0, 0.274) 0px 3px 10px, var(--primaryColor) 0px 2px 3px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 24px;
  }
 #userDonationInput fieldset legend {
      color: black;
      
      font-weight: bolder;
      margin: 5px;
  }
  


.basicInfoSec input {
    width : 100%;
    padding: 10px;
    color: var(--seconderyColor);
    border: 2px solid var(--seconderyColor);
}

.basicInfoSec label {
    margin-bottom: -40px;
}
.paymentAmountSec input {
    width: 100%;
    

}
.paymentAmountSec button {
    width: 20%;
    padding: 5px;
    margin: 5px;
    position: relative;
	color: #FFF;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;

}
.paymentAmountSec button:hover {
    background: #109177;
}
.paymentAmountSec:nth-child(8){
    width : 60%;
    height :30px;

    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.paymentAmountSec {
    margin: 5px;
}

.payment legend {
    color: black;
      
      font-weight: bolder;
      margin: -10px;
      display: inline-block;
}
.payment {
   padding: -15px;
   width: 100%;
   

}
.payment {
    display: block;
    
    margin-top :15px;
    
}
.leavemessage {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 40px auto;
    
    color: white;
    font-size: 16px;
    align-self: center;

}


.resetAndSubmit {display: flex;}










footer {
    width: 100%;
    background-color: var(--seconderyColor);
 }

footer .footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
}

footer a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--seconderyColor);
}
.fa-youtube:hover {
    background-color: #e64a41;
}

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    width:auto;
    border-radius: 0.5rem;
    align-content: center;
    text-align: center;
    text-transform: capitalize;
}
.modal-content p {
    float: left;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.modal-content img {
    width : auto;
    height: 400px;
    border-radius: 00.5rem;
    
    
}
.close-button2 {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button2:hover {
    background-color: darkgray;
}
.show-modal2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
